<a href="https://colab.research.google.com/github/IshanPoudel/SpamShield/blob/main/MultiClass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [38]:
import pandas as pd
import numpy as np

In [39]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

In [40]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score

In [41]:
#Use a neural netrowrk
df = pd.read_csv('glass.txt' , header=None)
df.head()

         0      1     2     3      4     5     6    7    8  9
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0  1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0  1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0  1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0  1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0  1

In [42]:

X=df.iloc[: , :-1]

# Because you need to reshape it to 0-6.
y= df.iloc[:,-1]-1

In [43]:
# Normalize the value of x
mean = X.mean()
std = X.std()

# normalize the values
X = (X - mean) / std

In [44]:
from sklearn.model_selection import train_test_split

In [45]:

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
X_train.shape

(171, 9)

In [51]:
def generate_model():

  model = Sequential([
      Dense(64, activation='tanh', input_shape=(X_train.shape[1],)),
      Dropout(0.2),
      Dense(7, activation='softmax')
  ])

  # Compile the model
  model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

  return model

In [48]:
kf = KFold(n_splits=3, shuffle=True, random_state=42)

In [52]:
best_score = 0

for train_index, val_index in kf.split(X_train):
    X_fold_train, X_fold_val = X_train.iloc[train_index], X_train.iloc[val_index]
    y_fold_train, y_fold_val = y_train.iloc[train_index], y_train.iloc[val_index]
    
    model = generate_model()
    model.fit(X_fold_train, y_fold_train, epochs=300, batch_size=32, verbose=0)
    
    y_pred = model.predict(X_fold_val)
    score = accuracy_score(y_fold_val, np.argmax(y_pred, axis=1))
    if score > best_score:
        best_score = score
        best_model = model

2/2 [==============================] - 0s 8ms/step
2/2 [==============================] - 0s 5ms/step
2/2 [==============================] - 0s 6ms/step

In [53]:
y_pred = best_model.predict(X_test)
test_score = accuracy_score(y_test, np.argmax(y_pred, axis=1))
print('Test accuracy:', test_score)

2/2 [==============================] - 0s 5ms/step
Test accuracy: 0.7674418604651163