<a href="https://colab.research.google.com/github/IshanPoudel/SpamShield/blob/main/spam_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from keras.models import Sequential
from keras.layers import Dense, Dropout

In [4]:
df = pd.read_csv('spambase.data' , header=None)

In [5]:
df.head(5)

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
0,0.00,0.64,0.64,0.0,0.32,0.00,0.00,0.00,0.00,0.00,...,0.00,0.000,0.0,0.778,0.000,0.000,3.756,61,278,1
1,0.21,0.28,0.50,0.0,0.14,0.28,0.21,0.07,0.00,0.94,...,0.00,0.132,0.0,0.372,0.180,0.048,5.114,101,1028,1
2,0.06,0.00,0.71,0.0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0.0,0.276,0.184,0.010,9.821,485,2259,1
3,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.137,0.0,0.137,0.000,0.000,3.537,40,191,1
4,0.00,0.00,0.00,0.0,0.63,0.00,0.31,0.63,0.31,0.63,...,0.00,0.135,0.0,0.135,0.000,0.000,3.537,40,191,1

In [8]:
#The final consists of the label. Spam or not spam.
X = df.iloc[: , :-1]
y = df.iloc[: , -1]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [14]:
model = Sequential()
model.add(Dense(128, input_dim=X.shape[1], activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(64, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1, activation='sigmoid'))

In [15]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [16]:
model.fit(X_train, y_train, epochs=10, batch_size=32, validation_data=(X_test, y_test))

Epoch 1/10
115/115 [==============================] - 2s 3ms/step - loss: 3.5904 - accuracy: 0.5709 - val_loss: 0.8690 - val_accuracy: 0.6982
Epoch 2/10
115/115 [==============================] - 0s 2ms/step - loss: 1.3077 - accuracy: 0.7011 - val_loss: 0.7083 - val_accuracy: 0.7579
Epoch 3/10
115/115 [==============================] - 0s 2ms/step - loss: 0.8567 - accuracy: 0.7543 - val_loss: 0.4715 - val_accuracy: 0.7883
Epoch 4/10
115/115 [==============================] - 0s 2ms/step - loss: 0.6447 - accuracy: 0.7660 - val_loss: 0.5016 - val_accuracy: 0.7926
Epoch 5/10
115/115 [==============================] - 0s 2ms/step - loss: 0.5252 - accuracy: 0.7842 - val_loss: 0.4703 - val_accuracy: 0.7970
Epoch 6/10
115/115 [==============================] - 0s 2ms/step - loss: 0.4678 - accuracy: 0.7845 - val_loss: 0.4136 - val_accuracy: 0.8176
Epoch 7/10
115/115 [==============================] - 0s 3ms/step - loss: 0.4687 - accuracy: 0.7937 - val_loss: 0.4152 - val_accuracy: 0.7926
Epoch 8/10
115/115 [==============================] - 0s 3ms/step - loss: 0.4117 - accuracy: 0.8106 - val_loss: 0.4085 - val_accuracy: 0.8230
Epoch 9/10
115/115 [==============================] - 0s 2ms/step - loss: 0.3992 - accuracy: 0.8253 - val_loss: 0.3725 - val_accuracy: 0.8502
Epoch 10/10
115/115 [==============================] - 0s 2ms/step - loss: 0.3963 - accuracy: 0.8397 - val_loss: 0.3687 - val_accuracy: 0.8643

In [17]:
loss, accuracy = model.evaluate(X_test, y_test)
print(f"Loss: {loss:.4f}, Accuracy: {accuracy:.4f}")

29/29 [==============================] - 0s 3ms/step - loss: 0.3687 - accuracy: 0.8643
Loss: 0.3687, Accuracy: 0.8643